<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
 	<button class="button">
	  <%= link_to 'Edit', edit_post_path(post) %>
	</button>
 	<button class="button">
	  <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %>
	</button>
  </div>
<% end %>
